/* Basic reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}

body,
html,
#root {
  height: 100%;
}
/* LANDING PAGE STYLES */
.landing-page {
  min-height: 100vh;
  background: #07111f;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.05) 1px,
    transparent 1px
  );
  background-size: 40px 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.landing-content {
  text-align: center;
  max-width: 700px;
}

.landing-title {
  font-size: 52px;
  font-weight: 800;
  line-height: 1.2;
}

.highlight {
  color: #3fc3ff;
}

.landing-subtitle {
  font-size: 18px;
  margin-top: 20px;
  opacity: 0.8;
}

.landing-buttons {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.started-btn {
  background: #1dd3ff;
  color: #003049;
  padding: 12px 26px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.demo-btn {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 12px 26px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  cursor: pointer;
  font-weight: 600;
}

.arrow-btn {
  padding-top: 5px;
}
